{% block body %}
	<div class="container">
		<div class="main">
			{{ form_start(form, {'attr': {'class': 'form-container'}}) }}
			<div class="form-grid">
				<div>
					<div class="form-group">
						{{ form_label(form.name, 'Nom de la Constellation') }}
						{{ form_widget(form.name, {'attr': {'placeholder': 'Nom de votre constellation'}}) }}
					</div>

					<div class="form-group">
						{{ form_label(form.description, 'Description') }}
						{{ form_widget(form.description, {'attr': {'placeholder': 'Décrivez votre constellation'}}) }}
					</div>
				</div>
				<div>
					<div class="form-group">
						<p> Sélectionnez une étoile pour l'ajouter à votre constellation</p>
						<select id="etoile-select">
							{% for star in userStars %}
								<option value='{{ { "name": star.name, "x": star.xPosition, "y": star.yPosition, "color": star.color }|json_encode|raw }}'>
									{{ star.name }}
								</option>
							{% endfor %}
						</select>
						
						<!-- Champ caché -->
						<div id="selected-stars"></div>
						<input type="hidden" id="etoile-json" name="etoile_json" value='{{ etoiles_json|raw }}'>
						<input type="hidden" id="lines-json" name="lines_json" value='{{ constellation.lines|json_encode|raw }}'>
					</div>
				</div>

				<!-- Conteneur pour la vue 3D -->
				<div id="threejs-containerConstel" data-constellation-id="{{ constellation.id }}"></div>

				<div class="form-footer">
					<button type="submit">{{ button_label|default('Créer ma constellation') }}</button>
				</div>

				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}