{% extends 'dashboard/index.html.twig' %}

{% block title %}Constellations{% endblock %}

{% block body %}
    <h1>Mes Constellations </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for constellation in constellations %}
            <tr>
                <td>{{ constellation.name }}</td>
                <td>{{ constellation.description }}</td>
                <td>{{ constellation.createdAt ? constellation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_constellations_edit', {'id': constellation.id}) }}" class="liens">Modifier</a>
                    <a href="{{ path('app_constellations_delete', {'id': constellation.id}) }}" class="liens">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Vous n'avez créé aucune constellation pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('app_constellations_new') }}" class="lienBtn">Créer une constellation</a>

{% endblock %}
