{% extends 'dashboard/index.html.twig' %}

{% block title %}Constellations{% endblock %}

{% block body %}
    <h1>Constellations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ constellation.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ constellation.description }}</td>
            </tr>
            <tr>
                <th>Créer le </th>
                <td>{{ constellation.createdAt ? constellation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modifier le</th>
                <td>{{ constellation.updatedAt ? constellation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_user_constellations') }}">Retour</a>

    <a href="{{ path('app_constellations_edit', {'id': constellation.id}) }}">Modifier</a>

    {{ include('constellations/_delete_form.html.twig') }}
{% endblock %}
