{% extends 'dashboard/index.html.twig' %}

{% block title %}Partage index
{% endblock %}

{% block body %}
	<h1>Mes Partages</h1>
	<a href="{{ path('app_partage_new') }}" class="lienBtnCreate">Publier un post</a>

	<div class="post-container">
		{% for partage in partages %}
			<div class="post">
				<!-- Image du partage -->
				<div class="post-image">
					<img src="{{ partage.imageUrl }}" alt="Image du partage">
				</div>

				<div class="post-footer">
					<p class="description">{{ partage.description }}</p>
					<br>
					<p> Créer le : {{ partage.createdAt ? partage.createdAt|date('Y-m-d H:i:s') : '' }}</p>
					<p>
						<a href="{{ path('app_partage_edit', {'id': partage.id}) }}">Modifier</a>
						<a href="{{ path('app_partage_delete', {'id': partage.id}) }}">Supprimer</a>
					</p>
				</div>
			</div>
		{% else %}
			<p>Aucun partage à afficher.</p>
		{% endfor %}
	</div>

	<br>
{% endblock %}
