{% extends 'dashboard/index.html.twig' %}

{% block title %}Partage index{% endblock %}

{% block body %}
	<h1>Partage index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>Description</th>
				<th>CreatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for partage in partages %}
				<tr>
					<td>{{ partage.user }}</td>
					<td>{{ partage.description }}</td>
					<td>{{ partage.createdAt ? partage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_partage_show', {'id': partage.id}) }}">show</a>
						<a href="{{ path('app_partage_edit', {'id': partage.id}) }}">Modifier</a>
						<a href="{{ path('app_partage_delete', {'id': partage.id}) }}">Supprimer</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun post n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<a href="{{ path('app_partage_new') }}" class="lienBtn">Publier un post</a>
{% endblock %}
