<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyUniverse{% endblock %}</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Cinzel:wght@700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ballet&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/tables.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/threejs.css') }}">
</head>

<body>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/three@0.153.0/build/three.min.js"></script>
    
    <script type="importmap">
    {
        "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
        }
    }
    </script>
    
   <!-- <script src="../js/starVisual.js"></script>-->
    <script src="{{ asset('js/starVisual.js') }}"></script>
    <script src="{{ asset('js/constelVisual.js') }}"></script>


{% endblock %}
    <header class="header">
        <!-- Navbar -->
        <div class="navbar">
            <div class="shooting-star"></div>
            <div class="logo">MyUniverse</div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="shooting-star"></div>
            <div class="links">
                <a href="{{ path('app_home') }}">Accueil</a>
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
            </div>
        </div>
    </header>

    <div class="container">
        {% block sidebar %}{% endblock %}
   
        <main class="main">
            {% block body %}{% endblock %}
        </main>
    </div>
    <footer class="footer">
        <p>© 2024 Cosmic Universe. All Rights Reserved.</p>
    </footer>
</body>
</html>
